venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env

vector_store/*.faiss
vector_store/*.index

data/patients.json
data/trials.json

.ipynb_checkpoints/

data/trials.json
data/patients.json
vector_store/
venv/
__pycache__/